<div class="mat-display-4 center">Shutter-fly</div>
<mat-card>
<section>
  <div class="example-button-row">
    <button mat-flat-button color="accent" routerLink="./employee">All Employee</button>
    <button mat-flat-button color="primary" routerLink="./department" >All Department</button>
    <button mat-flat-button color="primary" routerLink="./registration">Registration</button>
  </div>
</section>
</mat-card>
<br>
<router-outlet></router-outlet>

