<mat-card id="card" style="text-align: center;">
	<mat-card-title>
		login
	</mat-card-title>

	<mat-card-content>

		<mat-form-field>
			<input matInput placeholder="email">
		</mat-form-field><br/>

		<mat-form-field>
			<input matInput placeholder="password">
		</mat-form-field><br/>
		<button mat-raised-button color="primary" style="margin-right:5px;">login</button>
		<button mat-raised-button color="primary" style="margin-right:5px;">register</button>

	</mat-card-content>